<launch>
	<node name="velocity_steering_driver.py" pkg="bicycle_model" type="velocity_steering_driver.py" output="screen"/>
	<node name="model.py" pkg="bicycle_model" type="model.py" output="screen"/>
	<node name="path_generator.py" pkg="bicycle_model" type="path_generator.py" output="screen"/>
	<node name="pure_pursuit_controller.py" pkg="bicycle_model" type="pure_pursuit_controller.py" output="screen"/>
</launch>
